.HeighContainer {
    height: 800px;
    overflow: hidden;
    position: relative;
    margin-top: -64px;
}

.HeighContainer>div {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.OverlaySeparationback {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.692);
    height: 100%;
    width: 100%;
}

.HeighContainer div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.AbsoluteContentContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

.AbsoluteContentContainer>div:first-child {
    padding: 0px 40px;
    width: 50%;
}

.ContainerHeading {
    color: rgb(63, 125, 196);
    font-size: 3.5em;
    font-weight: 400;
    line-height: 1.2;
}

.BottomContentContainer {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.129);
    margin: 0px 40px;
    padding: 30px 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: white;
    display: flex;
}

.BottomContentContainer div:first-child {
    width: 70%;
}

.BottomContentContainer div:first-child h2 {
    width: 60%;
}

#SOCMainContainer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.ImagesGalleryContainer img {
    width: 100%;
}

.ImagesGalleryContainer .ant-row .ant-col {
    padding: 10px;
}

.ImagesGalleryContainer .ant-row .ant-col div {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid transparent;
}

.ImagesGalleryContainer .ant-row .ant-col div:hover {
    border: 1px solid rgb(74, 144, 226);
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
}

.ChiprelatedDescriptionContainer {
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    margin: 7rem 0rem;
}

.ChiprelatedDescriptionContainer img {
    width: 100%;
}

.ChiprelatedDescriptionContainer .ant-row .ant-col .RightSideContentContainerAboutChip {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.ChiprelatedDescriptionContainer .ant-row .ant-col .RightSideContentContainerAboutChip>div {
    margin: 20px 0px;
}

.ChiprelatedDescriptionContainer .ant-row .ant-col .RightSideContentContainerAboutChip>div div {
    padding: 20px 0px;
}

.fadeImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fadeImage img {
    width: 100%;
    max-height: 500px;
    animation: fadeEffect 4s infinite;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.AbsoluteContentContainer button {
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    transition: .5s;
}

.AbsoluteContentContainer button:hover {
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: rgb(74, 144, 226);
    color: white;
    transition: .5s;
}