
.mega-menu {
  /* background: linear-gradient(90deg, #1e3c72, #2a5298); */
  background: linear-gradient(90deg, #326a80, #000046);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  /* padding: 10px; */
  /* margin-left: auto; */
}

.menu-item {
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: white;
  padding: 10px;
}

.menu-item:hover {
  color: aqua;
  scale: 1.04;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #3f5693;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.dropdown ul li {
  padding: 5px 10px;
  color: black;
  cursor: pointer;
}

.dropdown ul li:hover {
  color: rgba(0, 255, 255, 0.783);
}