#ModulesContainer {
  position: relative;

  background-color: #eaf6ffce;
}
.ModuleBanner {
  height: 100vh;
  margin-top: -4rem;
}
.ModuleBanner div {
  height: 100%;
  width: 100%;
}
.ModuleBanner div img {
  width: 100%;
  height: 100%;
}
#ModulesDataContainer .ant-row {
  padding-bottom: 0;
}
#ModulesDataContainer .SideContentContainer {
  padding-right: 2rem;
}
#ModulesDataContainer .ant-row .ant-col .imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ModulesDataContainer .ant-row .ant-col .imageContainer img {
  height: 70%;
}
.carousel-image {
  width: 100%;
  height: auto;
  position: relative;
  transition: opacity 1s ease-in-out; /* Smooth fade effect */
  opacity: 1;
}

.carousel-image.fade-out {
  opacity: 0.9; /* Fade out */
}

.carousel-image.fade-in {
  opacity: 1; /* Fade in */
}
@media (max-width: 769px) {
  #ModulesDataContainer .SideContentContainer {
    padding-right: 0rem;
  }
  .ModuleBanner {
    margin-top: 1.7rem;
  }
  #ModulesDataContainer .ant-row {
    padding-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .ModuleBanner {
    height: 40vh;
  }
}
