#ContactContainer {
  padding-bottom: 4rem;
  position: relative;
  /* background-color: #eaf6ffce; */
}
/* .backGroundAttachmentContact {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("/Images/bg3.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
} */

.contactInfoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contactInfoContainer .sectionHeading {
  margin-bottom: 14px;
}
.contactFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.contactItem {
  display: flex;
  align-items: center;
}

.contactItem svg {
  margin-right: 10px; /* Add some space between icon and text */
}
.contactForm {
  display: flex;
  flex-direction: column;
}
.ContentContainerHome button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.contactInfoContainer a {
  color: black;
}
.contactInfoContainer a:hover {
  color: rgb(74, 144, 226);
}

.MuiList-root {
  background-color: white !important;
}

@media (max-width: 576px) {
  .contactItem {
    width: 100%;
  }
  .contactInfoContainer {
    align-items: center;
  }
  .contactFormContainer {
    margin-top: 1rem;
    align-items: center;
    width: 100%;
  }
  .ant-col {
    width: 100%;
  }
  .MuiBox-root {
    flex-direction: column;
    width: 100%;
  }
}
