.MuiToolbar-root {
  transition: 0.5s;
  padding: 0 !important;
}

.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  background-color: transparent;
  min-width: 100%;
  left: 0px;
  right: 0px;
  z-index: 23423432423;
  min-height: 40vh;
  cursor: pointer;
  transition: 0.2s;
  visibility: hidden;
  transform: translateY(20px);
}

.dropdown-content > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  margin-top: 20px;
  transition: 0.5s;
}

.dropdown-content a {
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: 0.5s;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
  transition: 0.5s;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transition: 0.2s;
  visibility: visible;
  transform: translateY(0px);
}

.dropbtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0px;
}

.logoContainer {
  width: 110px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

.logoContainer img {
  aspect-ratio: 3 / 2;
  object-fit: contain;
  width: 100%;
  opacity: 1;
  padding: 6px 0;
}

.navigationContainer {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

#Collapse {
  margin-top: 100px;
}

#Collapse .ant-collapse {
  background-color: transparent !important;
  border: none !important;
}

#Collapse .ant-collapse .ant-collapse-item {
  border: none !important;
}

#Collapse .ant-collapse .ant-collapse-item:nth-child(1) .ant-collapse-content {
  background-color: red;
  display: none;
}

#Collapse .ant-collapse .ant-collapse-item:last-child .ant-collapse-content {
  background-color: red;
  display: none;
}

#Collapse
  .ant-collapse
  .ant-collapse-item:first-child
  .ant-collapse-expand-icon {
  opacity: 0 !important;
}

#Collapse
  .ant-collapse
  .ant-collapse-item:last-child
  .ant-collapse-expand-icon {
  opacity: 0 !important;
}

.ant-collapse-header-text {
  color: black;
}

.MuiToolbar-root {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
}

#NavigationBar ul li {
  margin: 0px 20px;
}

/* #NavigationBar ul li hr{
  width: 0px;
  background-color: black;
  border: 1px solid black;
  outline: none;
}
#NavigationBar ul li:hover hr{
  width: 100%;
} */
@media (max-width: 576px) {
  .logoContainer {
    width: 90px;
    padding-left: 1rem;
  }
  .logoContainer img{
    padding: 0;
  }
}
