.EditAndDeleteButton svg:first-child {
    position: absolute;
    right: 10px;
    top: 10px;


}

.EditAndDeleteButton svg:last-child {
    position: absolute;
    right: 40px;
    top: 10px;


}

.EditAndDeleteButton svg {
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    background-color: black;
    color: white;
    transition: .5s;
    font-size: 25px;
}

.EditAndDeleteButton svg:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s;
    transform: translateY(-5px);
}

@media (max-width:900px){
    .EditCssNew{
        width: 100% !important;
    }
}